


  .containerImagen{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: transparent;
    padding-right:55px;
	padding-left:55px;
  }
  .headingImagen{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-weight: bold;
    background-color: transparent;
  
  }
  .img-holderImagen{
    margin: auto;
    width: 150px;
    height: 150px;
    border: 3px black solid;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .imgImagen{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  #input[type="file"] {
      display: none;
  }
  .labelImagen{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .image-upload{
    margin: auto;
    width: 200px;
      height: 40px;
    color: white;
    border-radius: 10px;
    background-color: #032b6e;
    text-align: center;
    cursor: pointer;
  }